<div class="container">
  <h1>Stupid Coaching</h1>
  <div>
  <form action="/answer">
    <input type="text" name="answer" placeholder="What's your question ?">
    <button type="submit">Ask!</button>
  </form>
</div>
</div>
