// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&family=Roboto:wght@300;400&display=swap');

 $gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
  font-family: 'Roboto', sans-serif;
 }

.banner {
   background: red;
   h1 {
     font-size: 50px;
   }
 }

 h1 {
  font-size: 48px;
  font-weight: bolder;
 }

 a {
   color: #1e73be;
   text-decoration: none;
   &:hover {
     color: black;
   }
 }

input {
  padding: 10px 30px;
}

button {
  padding: 11px 30px;
  border: 1px solid transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: -6px;
  background-color: #1e73be;
  color: white;
}

 .container {
  margin: 50px 50px;
 }

.chat-box {
  width: 60%;
  border-left: 5px solid rgba(0,0,0,0.2);
  padding: 10px;
  margin: 20px 0;
}

.answer {
  background-color: rgba(255,255,225,0.6);
 }
